<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Orders</title>
            <link rel="website icon" type="png" href="..\photos\tiny-trademark.png">
            <link rel="stylesheet" href="/css/admin/order.css">
            <script src="/js/admin/order.js"></script>
        </head>
        <body>
            <h1>ORDERS</h1>
            <table>
                <thead>
                    <tr>
                        <th>OrderID</th>
                        <th>ClientID</th>
                        <th>Order date</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(order => { %>
                        <tr>
                            <td><%= order.PedidoID %></td>
                            <td><%= order.ClienteID %></td>
                            <td>
                                <% const fechaPedido = new Date(order.FechaPedido); %>
                                <% const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true }; %>
                                <%= fechaPedido.toLocaleString('en-US', options) %>
                            </td>  
                            <td><%= order.Total %></td>
                            <td><%= order.Estado %></td>                       
                            <td>
                                <a href="/edit-order/<%= order.PedidoID %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="edit-order" width="24" height="24" viewBox="0 0 24 24" style="fill: #072C70;"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>
                                </a>
                                &nbsp;&nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" id="bin" width="24" height="24" viewBox="0 0 24 24" style="fill: #072C70;" data-order-id="<%= order.PedidoID %>" onclick="confirmDelete(this)"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"></path></svg></td>
                        </tr>
                    <% }); %>
                    <button type="button" id="returnButton">Return</button>
                </tbody>
            </table>
            <script>
                document.getElementById('returnButton').addEventListener('click', function() {
                    window.history.back();
                });
            </script>
        </body>
    </html>
